#include "resgen.rc"

// shaders
IDR_VERT_UNLIT      RCDATA "res/unlit.vert"
IDR_VERT_FACE       RCDATA "res/face.vert"
IDR_FRAG_SOLID      RCDATA "res/solid.frag"
IDR_FRAG_FACE       RCDATA "res/face.frag"

// menu help strings
STRINGTABLE
{
    IDM_NEW, "Create a new file"
    IDM_OPEN, "Open a WingEd file"
    IDM_SAVE, "Save changes to file"
    IDM_SAVE_AS, "Save as a new file"
    IDM_EXPORT_OBJ, "Create a .obj model file"
    IDM_SEL_ELEMENTS, "Select vertices, edges, and faces"
    IDM_SEL_SOLIDS, "Select closed solid surfaces"
    IDM_CLEAR_SELECT, "Clear selection"
    IDM_UNDO, "Undo most recent change"
    IDM_REDO, "Redo last undone change"
    IDM_TOGGLE_GRID, "Enable snapping to grid"
    IDM_GRID_DOUBLE, "Double the grid size"
    IDM_GRID_HALF, "Half the grid size"
    IDM_ERASE, "Erase selected vertices/edges/solids"
    IDM_EXTRUDE, "Create quads for all surrounding edges, or only those selected"
    IDM_SPLIT_LOOP, "Create a pair of opposing faces from the selected edge loop"
    IDM_DUPLICATE, "Create copies of all selected solids, at the same location"
    IDM_FLIP_NORMALS, "Reverse the direction of all faces"
    IDM_SNAP, "Snap vertices of all selected objects to the grid"
    IDM_TRANSFORM_MATRIX, "Enter a 3x3 matrix to transform selected objects"
    IDM_TOOL_SELECT, "Select and move objects"
    IDM_TOOL_POLY, "Create a plane by drawing a polygon"
    IDM_TOOL_KNIFE, "Cut vertices and edges into existing edges/faces"
    IDM_TOOL_JOIN, "Join pairs of vertices/edges/faces together"
    IDM_VIEW_FLY, "Move camera using first-person flying navigation"
    IDM_FOCUS, "Move camera to orbit around selection"
    IDM_NEW_VIEWPORT, "Open a new window with a different view of the same model"
}
